<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bw.movie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>


    <!-- //获取设备网络状态，禁用后无法获取网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- //网络权限，当禁用后，无法进行检索等相关业务 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- //读取设备硬件信息，统计数据 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- //读取系统信息，包含系统版本等信息，用作统计 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- //获取设备的网络状态，鉴权所需网络代理 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- //获取统计数据 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".utils.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/TranslucentTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.bw.movie.sumproject"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity android:name=".view.activity.logandregactivity.LoginActivity" />
        <activity android:name=".view.activity.logandregactivity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wxb3852e6a6b7d9516"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.logandregactivity.RegisterActivity" />
        <activity android:name=".view.activity.logandregactivity.GuideActivity" />
        <activity
            android:name=".view.activity.logandregactivity.ShowActivity"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".view.activity.showfileactivity.ShowFileAllActivity"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".view.activity.showcinemaactivity.DetailsOfCinemaActivity"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true" />
        <activity android:name=".view.activity.showfileactivity.ChoseseatActivity" />
        <activity android:name=".view.activity.showfileactivity.ChooseCinemaActivity" />
        <activity android:name=".view.activity.showfileactivity.CooseClassActivity" />
        <activity android:name=".view.activity.showfileactivity.DetailsActivity" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="slTiOBlO6mj5FIUGUnv5baxwbZdSXA8T" />
        <activity android:name=".view.activity.showmineactivity.Presonal_Message_Activity" />
        <activity android:name=".view.activity.showmineactivity.UpdatePassActivity" />
        <activity android:name=".view.activity.showmineactivity.CareActivity" />
        <activity android:name=".view.activity.showmineactivity.TicketActivity" />
        <activity android:name=".view.activity.showmineactivity.OpinionActivity" />
        <activity android:name=".view.activity.showmineactivity.OpinSuccessActivity"></activity>
        <activity android:name=".view.activity.showmineactivity.SystemMessageActivity"/>
        <meta-data android:name="com.amap.api.v2.apikey" android:value="73939048961034d8ef13cd245764fa61">
            <!--开发者申请的key-->
        </meta-data>
    </application>

</manifest>